* {
    margin: 0;
    padding: 0;
}

html {
    background-color: black;
}

.header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.header img {
    width: 90px;
    max-height: 90px;
    margin-left: 20px;
}

#menu {
    color: #ca9016;
    display: flex;
    flex-wrap: wrap;
    margin-left: 110px;
    margin-top: 10px;
    margin-bottom: 5px;
    list-style: none;
}

.item {
    font-size: 22px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 88px;
    margin-right: 88px;
}

.item:hover {
    color: #ffffffbe;
}

#slider {
    width: auto;
    height: 600px;
    max-height: 900px;
    position: relative;
}

#slider img {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 600px;
    object-fit: cover;
    transition: opacity 900ms;
}

#slider img.selected {
    opacity: 1;
}

.us {
    display: flex;
    flex-wrap: wrap;
    background-color: #ca9016;
    padding-bottom: 60px;
    padding-top: 60px;
}

.info {
    color: #360404;
    font-size: 22px;
    margin-top: 40px;
    margin-left: 190px;
    text-align: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.whats {
    font-size: 90px;
    font-family: Impact;
    margin-left: 120px;
    color: #ffffffbe;
}

.whats:hover {
    color: black;
}

.products {
    display: flex;
    width: auto;
    height: 450px;
    color: #ca9016;
    background-color: #360404;
}

#obj {
    background-color: none;
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: 70px;
    width: 100%;
    height: 100%;
}

.news {
    display: flex;
    margin-top: 10px;
    margin-left: 20px;
    font-family: impact;
    font-size: 30px;
}

#cutlery {
    margin-top: 10px;
    margin-left: 10px;
    height: 40px;
    width: 40px;
}

footer {
    background-color: black;
    width: 100%;
    height: 180px;
    color: #ffffffbe;
    display: flex;
    flex-wrap: wrap;
}

footer img {
    width: 40px;
    height: 40px;
}

h3 {
    color: #ca9016;
    font-family: impact;
    font-size: 25px;
}

a {
    color: #ffffffbe;
    font-size: 18px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.part1 {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    margin-top: 30px;
}

.part2 {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    margin-top: 30px;
}

.part3 {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 30px;
}

#name {
    color: #ffffffbe;
    background-color: #ca9016;
    border-radius: 33px;
    height: 25px;
}

#email {
    color: #ffffffbe;
    background-color: #ca9016;
    border-radius: 33px;
    height: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#name {
    color: #ffffffbe;
    background-color: #ca9016;
    border-radius: 33px;
    height: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#submit {
    color: #ffffffbe;
    background-color: #360404;
    border-radius: 33px;
    height: 32px;
    width: 46px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}